html,
body {
	background: #000000;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#divwrapper {
	width: 100vw;
	height: 88.89vw;/* height:width ratio = 9/8 = .8888  */
	background: transparent;
	max-height: 100vh;
	max-width: 112.5vh;/* 8/9 = 1.125 */
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;/* vertical center */
	left: 0;
	right: 0;/* horizontal center */
}

#splash {
	display: block;
	width: 99.99%;
	height: 99.99%;
}

#powerappframe {
	position: absolute;
	border: none;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}